.container {
  padding: 25px;
}

.icon-box {
  border: 1px solid tomato;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-right: 15px;
}

.text-primary {
  color: tomato;
}

.title {
  display: flex;
  align-items: center;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list {
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: coral;
  flex-grow: 1;
  font-size: 25px;
}

.item {
  flex: 1;
  font-size: 1rem;
  text-align: center;
  border-right: 3px solid white;
}

.item:last-child {
  border: none;
  font-size: 1rem;
}
.flex {
  display: flex;
}

.btn {
  border: none;
  background-color: tomato;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.w-75 {
  width: 75%;
}

.ml-15 {
  margin-left: 15px;
}

.align-center {
  align-items: center;
}

.justify {
  justify-content: space-between;
}

html {
  font-size: 20px;
}

/*only mobile apply 10px font-size*/
@media screen and (max-width: 500px) {
  html {
    font-size: 12px !important;
  }
  .hamburger {
    display: block;
  }
}

/* only tablet 14px 500-790  max-wdth:600px*/
@media screen and (min-width: 500px) and (max-width: 790px) {
  html {
    font-size: 14px;
  }
  .hamburger {
    display: none;
  }
}

/* only laptop 20px >800*/
@media screen and (min-width: 800px) {
  html {
    font-size: 20px;
  }
  .hamburger {
    display: none;
  }
}

/*only mobile apply 10px font-size*/
@media screen and (max-width: 500px) {
  nav {
    display: none !important;
  }
}
